.aside_links
  a(href='#') Грунтовки
  a(href='#') Декоративные покрытия
  a(href='#') Инструменты
  a(href='#') Керамическая плитка, керамогранит
  a(href='#') Кирпич, стеновые материалы
  a(href='#') Кровельный материал, гидроизоляция
  a(href='#') Кровельный материал, гидроизоляция
  a(href='#') Кровельный материал, гидроизоляция
  a(href='#') Листовой материал
  a(href='#') Материал для фасадов
  a(href='#') Металлопрокат
  a(href='#') Метизы, крепёж
  a(href='#') Напольные покрытия
  a(href='#') Панели ПВХ, комплектующие
  a(href='#') Пены монтажные, герметики, клея
  a(href='#') Пиломатериал
  a(href='#') Поликарбонат сотовый, теплицы
  a(href='#') Потолки и потолочные системы
  a(href='#') Сетки
  a(href='#') Строительные смеси
  a(href='#') Тара, упаковка
  a(href='#') Тепло-, шумоизоляция
  a(href='#') Тёплые полы
  a(href='#') Цемент, сыпучие материалы