aside
  .aside_title
    .aside_title_folder
    .aside_title_text Каталог Товаров 
  .aside_line 
  include aside_links.pug
  .aside_looked
    .aside_looked_title Вы смотрели
    .aside_looked_content
      .aside_looked_content_block
        .aside_looked_content_block_pic_1
        .aside_looked_content_block_text
          a(href='#') Керамогранит Basic
          .aside_looked_content_block_text_price 508 рублей/м²
          .aside_looked_content_block_text_buy Добавить в корзину 
      .aside_looked_content_block
        .aside_looked_content_block_pic_2
        .aside_looked_content_block_text
          a(href='#') Керамогранит Prestige
          .aside_looked_content_block_text_price 914 рублей/м²
          .aside_looked_content_block_text_buy Добавить в корзину 
      .aside_looked_content_block
        .aside_looked_content_block_pic_3
        .aside_looked_content_block_text
          a(href='#') Керамогранит Kito 600x600
          .aside_looked_content_block_text_price 1 300 рублей/м²
          .aside_looked_content_block_text_buy Добавить в корзину         



