.right_catalog_title
  .right_catalog_title_sort Сортировать по цене: 
  .right_catalog_title_name.right_catalog_title_selected названию
  .right_catalog_title_price цене
.right_catalog_blocks
  .right_catalog_blocks_block
    .right_catalog_blocks_block_pic_1
    .right_catalog_blocks_block_text
      a(href='#') Керамогранит Basic
      .right_catalog_blocks_block_text_price 508 рублей/м²
      button В корзину 
  .right_catalog_blocks_block
    .right_catalog_blocks_block_pic_2
    .right_catalog_blocks_block_text
      a(href='#') Керамогранит Kito 600 х 600
      .right_catalog_blocks_block_text_price 508 рублей/м²
      button В корзину 
  .right_catalog_blocks_block
    .right_catalog_blocks_block_pic_1
    .right_catalog_blocks_block_text
      a(href='#') Керамогранит Basic
      .right_catalog_blocks_block_text_price 508 рублей/м²
      button В корзину 
  .right_catalog_blocks_block
    .right_catalog_blocks_block_pic_2
    .right_catalog_blocks_block_text
      a(href='#') Керамогранит Kito 600 х 600
      .right_catalog_blocks_block_text_price 508 рублей/м²
      button В корзину 
  .right_catalog_blocks_block
    .right_catalog_blocks_block_pic_3
    .right_catalog_blocks_block_text
      a(href='#') Керамогранит Prestige
      .right_catalog_blocks_block_text_price 508 рублей/м²
      button В корзину 
  .right_catalog_blocks_block
    .right_catalog_blocks_block_pic_4
    .right_catalog_blocks_block_text
      a(href='#') Domino (Zeus)
      .right_catalog_blocks_block_text_price 508 рублей/м²
      button В корзину 
  .right_catalog_blocks_block
    .right_catalog_blocks_block_pic_3
    .right_catalog_blocks_block_text
      a(href='#') Керамогранит Prestige
      .right_catalog_blocks_block_text_price 508 рублей/м²
      button В корзину 
  .right_catalog_blocks_block
    .right_catalog_blocks_block_pic_4
    .right_catalog_blocks_block_text
      a(href='#') Domino (Zeus)
      .right_catalog_blocks_block_text_price 508 рублей/м²
      button В корзину 