footer
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="js.js")
  .footer
    .footer_wave
    .footer_container
      .footer_whitespace
      .footer_right
        .footer_up
          .footer_five_links
            a(href='#').footer_link Услуги компании
            a(href='#').footer_link Доставка
            a(href='#').footer_link Оплата
            a(href='#').footer_link Полезные статьи
            a(href='#').footer_link Контакты
          .footer_logo
        .footer_text
          span © 2013 ООО «Мир Стройки»
          br
          span г. Ревда, ул. О. Кошевого, 25, оф. 10

