header
  .header
    .header_left
      .header_left_logo
      .header_left_text
        span.header_left_text_title Мир Стройки
        br
        span.header_left_text_text строительные материалы
    .header_contacts
      span.header_contacts_name Интернет-магазин
      br
      span.header_contacts_phone (343) 111-22-32
    .header_contacts
      span.header_contacts_name Строительные услуги
      br
      span.header_contacts_phone (343) 111-24-34
    .header_time
      span.header_contacts_name Пн-Пт, 9:00-18:00
      br
      span.header_contacts_recall
        a(href='#') Заказать обратный звонок
    .header_right
      .header_right_cart
      .header_right_text
        a(href='#') Корзина
        .header_right_text_this
          | Товаров на сумму:
          br
          | 23 000 ₽    

