.main_content_wrapper
  .main_content
    include aside.pug
    include right.pug
  .numbers_wrapper  
    .numbers
      .numbers_block
        a(href='#').numbers_blocks 1
        a(href='#').numbers_blocks 2
        a(href='#').numbers_blocks 3
        a(href='#').numbers_blocks 4
        a(href='#').numbers_blocks 5
        a(href='#').numbers_blocks 6
        a(href='#').numbers_blocks 7
        a(href='#').numbers_blocks 8
