.right_navigation
  .right_navigation_link
    | Услуги Компании
  .right_navigation_link
    | Доставка
  .right_navigation_link
    | Оплата
  .right_navigation_link
    | Полезные статьи
  .right_navigation_link
    | Контакты
.right_search
  .right_search_up
    .right_search_up_field
      input(type='text' placeholder='Поиск' autocomplete='off') 
      button Найти 
    .right_search_up_links
      a(href='#') Войти
      br
      a(href='#') Зарегистрироваться
  .right_search_example
    span.right_search_example_italic Например: 
    span.right_search_example_text плитка kerama marazzi    