.right_settings_title
  .right_settings_title_text
    a(href='index.html') Главная
    span  / Керамическая плитка, керамогранит
.right_settings_main
  .right_settings_main_title
    div Подобрать
  .right_settings_main_block
    .right_settings_main_block_side
      .right_settings_main_block_side_up
        .right_settings_main_block_side_up_text Цена:
        .right_settings_main_block_side_up_slider
          .right_settings_main_block_side_up_slider_btn#price_left_btn
          .right_settings_main_block_side_up_slider_btn#price_right_btn
      .right_settings_main_block_side_simple
        .right_settings_main_block_side_simple_name Цвет:
        .right_settings_main_block_side_simple_link Любой
      .right_settings_main_block_side_simple
        .right_settings_main_block_side_simple_name Рисунок декора:
        .right_settings_main_block_side_simple_link Любой
      .right_settings_main_block_side_simple
        .right_settings_main_block_side_simple_name Производитель:
        .right_settings_main_block_side_simple_link Любой
    .right_settings_main_right_side
      .right_settings_main_block_side_up
        .right_settings_main_block_side_up_text Размер, мм:
        input(type='text' autocomplete='off')
        span - 
        input(type='text' autocomplete='off')  
      .right_settings_main_block_side_simple
        .right_settings_main_block_side_simple_name Фактура:
        .right_settings_main_block_side_simple_link Любая
      .right_settings_main_block_side_simple
        .right_settings_main_block_side_simple_name Поверхность:
        .right_settings_main_block_side_simple_link Любая
      .right_settings_main_block_side_simple
        .right_settings_main_block_side_simple_name Страна:
        .right_settings_main_block_side_simple_link Любая
  .right_settings_main_find
    .right_settings_main_find_left
      button Найти
      .right_settings_main_find_left_text 
        | Найдено:&nbsp;
      span#search_number_result 
        | 56 результатов
    .right_settings_main_find_right Сбросить фильтр

